* {
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-height: 500px;
    max-width: 95vw;
}

.main-image, .to-main, h1, .recipes {
    text-align: center;
}

h1 {
    font-size: 42px;
}

h1, h2 {
    color: white;
    background-color: black;
}

.recipes {
    list-style-type: none;
    font-size: 2em;
}

.to-top, header {
    text-align: right;
}