* {
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-height: 500px;
    max-width: 95vw;
}

.main-image, .to-main, h1, .recipes {
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-top: 0;
}

h1, h2 {
    color: white;
    background-color: black;
    padding: 0.3em;
}

.recipes {
    list-style-type: none;
    font-size: 2em;
    padding-left: 0;
}

.to-top, header {
    text-align: right;
}

a {
    color: white;
    background-color: black;
    padding: 4px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.recipes li {
    margin-bottom: 16px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}