* {
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 500px;
    width: auto;
}

.main-image {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 42px;
}

h1, h2 {
    color: white;
    background-color: black;
}

.recipes {
    text-align: center;
    list-style-type: none;
}